$main-colour: rgb(174, 251, 255);
$back-colour: rgb(129, 0, 0);
$gradient-from: rgba(226,119,119,1);
$gradient-to: rgba(255,213,110,1);


// Colours
$neutral-dark: rgb(43, 45, 66);
$neutral-mid: rgb(141, 153, 174);
$neutral-light: rgb(237, 242, 244);
$main-desaturated: rgb(239, 35, 60);
$main-saturated: rgb(217, 4, 41);
